* {
    font-family: Georgia, serif;
}

body {
    margin:auto;
    width: 95%;
}

#title {
    background-color: orange;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 0;
    padding: 1.5%;
}

#intro {
    border-right: 1px solid orange;
    border-left: 1px solid orange;
    border-bottom: 1px solid orange;
    margin-bottom: 60px;
    padding: 25px;
    padding-left: 50px
}

#footer {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    margin-top: 100px;
    text-align: center;
}

#footer p {
    opacity: .8;
}

.info {
    font-size: 13px;
    border-left: 5px solid #FFA229;
    background-color: #ffd199;
    padding: 8px;
}

.gateHeader {
    background-color: #FFA229;
    margin-left: 25px;
    padding-top: 5px;
}

.gate {
    border-radius: 8px;
    background-color: #FFA229;
    margin-top: 20px;
}

.content {
    background-color: #FFF1D6;
    padding: 20px;
    padding-bottom: 0px;
}

.left,.middle,.right {
    display: inline-block;
    margin: 20px 0px;
    vertical-align: top;
}

.left {
    margin-right: 20px;
}

.middle {
    margin-right: 20px;
}

table {
    background-color: #ffd199;
    border-radius: 5px;
    padding: 10px;
    border-collapse: collapse;
    width: 100%;
}

table th {
    width: 20px;
}

table td,th {
    border: 1px solid orange;
    padding: 5px;
}

.tTable {
    width: 50px;
}

.tTable td {
    text-align: center;
}

.tTable th {
    border-width: 1px 1px 3px 1px;
}

.hTHeader {
    border-width: 1px 3px 1px 1px;
}

.backlink {
    display: block;
    text-align: center;
    color: orange;
    background-color: #ffd199;
    padding: 5px;
    text-transform: none;
}

img {
    border: 1px solid #FFA229;
    padding: 0;
    margin: 0;#FFA229;
    background-color: #FFF1D6;
}

textarea {
    border: 1px solid #FFA229;
    background-color: #ffd199;
    color: darkred;
}

img:hover {
    background-color: white;
}

textarea {
    width: 500px;
    border: 1px solid orange;
    background-color: #ffd199;
    color: black;
    padding: 0px;
}

textarea:hover {
    color: darkred;
}

@keyframes dropshadow {
    0% {box-shadow: 0px 0px 0px black;}
    10% {box-shadow: 1px 1px 1px black;}
    20% {box-shadow: 1px 1px 2px black;}
    30% {box-shadow: 2px 2px 4px black;}
    40% {box-shadow: 3px 3px 6px black;}
    50% {box-shadow: 4px 4px 8px black;}
    60% {box-shadow: 4px 4px 10px black;}
    70% {box-shadow: 4px 4px 12px black;}
    80% {box-shadow: 4px 4px 13px black;}
    90% {box-shadow: 5px 5px 14px black;}
    100% {box-shadow: 6px 6px 16px black;}
}

.zoom {
    background-color: none;
    -webkit-transition: scale(1.1);
    transition: transform .2s;
}

.zoom:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    animation-name: dropshadow;
    animation-duration: .15s;
    animation-timing-function: linear;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/
}
